body{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box; // Ensure padding is included in the width
  }

  .page-container{
    position: relative;
    min-height: 100vh;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 4vh;
    padding: 0 25px;
    color: white;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
  
      img {
        max-height: 4vh; // Adjust the image size as needed
        margin-right: 10px; // Space between image and text
      }
    }
  
   .hamburger {
    display: none; // Hidden by default
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    z-index: 100; // Ensure the hamburger is above the overlay
    margin-right: 20px;

  }
  
    .nav-menu {
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        
        li {
          margin-left: 20px;
          
          a {
            color: white;
            text-decoration: none;
            font-size: 18px;
          }
        }
      }
    }
}


.main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 65vh;  

    
    

    .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: opacity 0.3s ease-in-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            .image-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 15px;
                text-align: center;
                margin: 0;
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
               
            }
            &:hover .image-text {
                opacity: 1;
            }
        
        &:hover  {
            opacity: 0.7; // Visible on hover
        }
    }
}



.content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box; // Ensure padding is included in the width calculation
    
    .recipes-list{
        flex: 1 1 70%;
        margin-right: 10px; // Add a little space between the two sections
        width: 60%;
        border-right: 4px solid black;

        .recipe-container {
            display: flex;
            align-items: center; // Align items vertically
            // border-top: 2px solid black;

            .recipe-image {
                width: 40%; 
                height: auto; 
                flex-shrink: 0; 
                img {
                    width: 100%;
                    height: auto;
                    object-fit: scale-down; // Ensure the image covers the area
                }
            }

            .recipe-details {
                width: 60%; 
                overflow: hidden;
                word-wrap: break-word; 

                h2{
                    margin: 0;
                    padding: 10px;
                }

                i{
                    font-size: 20px;
                    padding: 10px;
                }
                ul {
                    list-style-type: none;
                  
                }
            
                li {
                    position: relative; // This will allow absolute positioning inside
                    margin-bottom: 20px; // Space between items
                    list-style: none; // Remove bullet points
            
                    img {
                        width: 100%; // Adjust as needed
                        display: block;
                    }
            
                    .recipe-name-overlay {
                        position: absolute;
                        bottom: 0; // Align at the bottom of the image
                        left: 0;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.5); // Translucent overlay
                        color: white;
                        text-align: center;
                        padding: 5px 0; // Padding at top and bottom
                    }
                }
            }
            
        }
    }

    .favorite-recipes {
        flex: 1 1 20%; // The favorites list will not grow or shrink but will be 20% of the content area
         // Just an example background color
        box-sizing: border-box;
        width: 25%;
        text-align: center;
        // border: 2px solid black;
        h2{
            margin-left: 40px;
        }
        ul li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            
            img {
                width: 100%;
                height: auto;
                // ... other styles ...
            }
    
            // .recipe-name-overlay {
            //     position: absolute;
            //     top: 0; // Align at the top of the image
            //     left: 0;
            //     width: 100%;
            //     background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay
            //     color: white;
            //     text-align: center;
    
            //     // Container for title and rating
            //     div {
            //         padding: 5px 0; // Padding for each item (title, rating)
            //     }
            // }
        }

        .text-container{
            padding: 0;
        }
    }

    #search-bar {
        padding: 8px;
        margin-right: 5px;
        margin-bottom: 15px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;

      }
      
      button {
        padding: 10px;
        border: none;
        background-color: #000000;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #45a049;
      }
}


//RECIPE DETAILS STYLES

   
  
  .wrapper {
    width: 80%; // Set the desired max-width for the wrapper
    margin: 0 auto; // Center the wrapper in the page
  }
  
  .times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    padding: 20px;
    width: 100%; // Use 100% of the container's width
    box-sizing: border-box; // Include padding in the width calculation
  }
  
  #recipe-times {
    border: none;
  }
  
 
  

  





.footer{

    background-color: black;
    color: white;
    text-align: center;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


// General styles
// ...

// Responsive adjustments for smaller screens
@media (max-width: 768px) {
    .header,
    .main-grid,
    .content,
    .recipes-list,
    .favorite-recipes,
    .footer {
        padding: 0;
        margin: 0;
    }

    .header{
        .hamburger{
            display: block;
        }
    }
    
    .nav-menu {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%); // Off the screen
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7); // Semi-transparent background
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; // Evenly space out the menu items
        align-items: center;
        transition: transform 0.3s ease-in-out;
        z-index: 1; // Below the hamburger icon
    
        ul {
          flex-direction: column;
          width: 100%;
          font-size: 30px;
          li {
            width: 100%;
            text-align: center;
            
            a {
              color: white;
              text-decoration: none;
              font-size: 24px;
              display: block; // Make the links fill the li for easier clicking
              padding: 10px 0; // Add padding for touch targets
            }
          }
        }
      }
      
    .main-grid {
        display: block; // Change grid to block to stack the images
        height: auto; // Adjust height to content
        padding-top: 0; // Remove padding at the top

        .image-container {
            width: 100%; // Full width for each image container
            height: 22.5vh; // Height adjusts to content
             // Space between image containers
            
            img {
                width: 100%; // Full width for each image
                height: 25vh; // Height adjusts to maintain aspect ratio
            }

            .image-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20%; // Ensure the text fits within the image, adjust as needed
                opacity: 1; // Text is always visible on smaller screens
                padding: 20px;
            }
        }
    }

    .content {
        flex-direction: column; // Stack content vertically

        .recipes-list,
        .favorite-recipes {
            width: 100%;
            box-sizing: border-box; 
            border: none;
            h2{
                text-align: center;
            }
            
            .recipe-container,
            ul li {
                flex-direction: column; // Stack elements inside the container   
                text-align: center;             
                .recipe-image,
                .recipe-details {
                    width: 100%; // Full width for both image and details
                    margin-bottom: 10px; // Space between elements
                }

                .recipe-name-overlay {
                    position: relative; // Change from absolute to relative
                    width: 100%; // Full width
                    padding: 10px 0; // Padding at top and bottom
                    color: white;
                    background-color: rgba(0, 0, 0, 0.5);
                    text-align: center;
                }
            }
        }

        .favorite-recipes {
            // Ensure the favorite-recipes take full width
            width: 100%;
            padding: 30px 0 0 0;
            margin: 0 0 40px 0;
            border-top: 2px solid black;
            ul {
                // Reset any list styles that may affect the layout
                padding-left: 0;
                margin-left: 0;
            }
            div{
                padding-left: 10px;
            }
            h2{
                margin: 0;
            }
            
        }
    }

    .wrapper {
        width: 95%; // Allow a little margin on the sides on small screens
    }
    
    .main-container .recipe-detail-container,
    .times,
    img.recipe-image {
        max-width: 100%; // Allow the content to fill the container on small screens
    }
    
    .times {
        grid-template-columns: 1fr; // Stack the grid items on small screens
    }
    
    img.recipe-image {
        width: 100%; // Full width images on small screens
    }
    
    #search-container{
        display: flex;
        align-items: center;
        justify-content: center;
        #search-bar{
            margin-left: 20px;
            width: 50%;
        }
        button{
            display: none;
        }
    }
   
    
}

